body{
    background-color: #cccccc;
}

.selections{
    display: flex;
    justify-content: center;
}

.selection{
    background: none;
    border: none;
    outline:none;
    cursor: pointer;
    font-size: 4rem;
    transition: 200ms;
}

.selection:hover {
    transform: scale(1.4);
}

.results{
    margin-top: 2rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 5rem);
    justify-items: center;
    align-items: center;
}

.result-score {
    margin-left: .1rem;
    font-size: .7rem;
    color: #333333;
}

.result-selection {
    opacity: .5;
}

.result-selection.winner{
    opacity: 1;
    font-size: 2rem;
}